*{
    font-family: "Inter", sans-serif;
    font-weight: 100;
    margin: 0;
}
img{
    width: 100%;
}
.nav-bar{
    width: 90%;
    height: 40px;
    background-color: rgb(100, 100, 100);
    border-spacing: 0;
}
.left-mini{
    display: grid;
    grid-template-columns: 10% 90%;
    padding: 20px;
}
.left-mini-mini{
    font-size: 40px;
    font-weight: 200;
}
.arrowupdown{
    width: 60%
}
.mini-description-word{
    font-size: 50px;
    margin: 40px 80px;
}   
.upcoming-main-left-small{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}
.upcoming-main-left-side{
    background-color: rgb(126, 126, 126);
}
.upcoming-main-right-side{
    background-color: rgb(255, 255, 255);
}
