body{
    font-family: "Inter", sans-serif !important;
    font-weight: 100;
    margin: 0;
}
.w3-bar-item{
    width: 250px;
    font-size: 30px;
}
.w3-bar:hover{
    background-color: rgb(250, 250, 250);
}

.homepage1{
    height: 1080px;
    background-image: url("/static/images/home-potential.jpg");
}
.catchytext{
    font-weight: 500;
    font-style: oblique;
    font-size: 130px;
    margin: 0 0 0 100px;
    padding: 0;
    line-height: 0;
    letter-spacing: -1.1rem;
}
.and-catchytext{
    margin-left: 500px;
    letter-spacing: -1.3rem;
}
.bento {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    gap: 20px;
    margin: 10px;
}
.brilliance-catchytext{
    margin-left: 650px;
}
.single-box{
    width: 100%;
    background-color: blue;
    border-radius: 5px;
}


img{
    width: 100%;
}


.left-mini{
    display: grid;
    grid-template-columns: 10% 90%;
    padding: 20px;
    margin: 20px 40px;
}
.left-mini-mini{
    font-size: 30px;
    font-weight: 200;
    width:  60px
}
.arrowupdown{
    width: 60%
}
.mini-description-word{
    font-size: 50px;
    margin: 20px 40px;
    font-weight: 10;
}   
.upcoming-main-left-small{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5em;
    margin: 20px;
}
.upcoming-main-left-side{
    background-color: rgb(126, 126, 126);
}
.upcoming-main-right-side{
    background-color: rgb(255, 255, 255);
}
.upcoming-title{
    font-size: 70px;
    font-weight: 600; 
    margin-bottom: 10px;
}
.upcoming-details{
    font-size: 36px;
    line-height: 1;
    font-weight: 400;
}
.upcoming-info{
    margin: 5px;
    font-size: 30px;
    font-weight: 200;

}