/** GENERAL STUFFF**/

body{
    font-family: "Inter", sans-serif;
    font-weight: 100;
    margin: 0;
}
h1{
    font-size: 70px;
    font-weight: 600;
}
h3{
    font-size: 36px;
    font-weight: 400;
}
h4{
    font-size:36px;
    font-weight: 300;
    }
p{
    font-size: 30px;
    font-weight: 200;
}
img{
    width: 100%;
}

/*NAV BAR*/
.w3-bar-item{
    font-size: 30px;
    background-color: #ffdcf2;
}
/*Home*/
.homepage1{
    height: 800px;
    background-image: url("/static/images/home-potential.jpg");
}
.catchytext{
    font-weight: 600x;
    font-style: oblique;
    font-size: 4em;
    margin: 40px 0 0 2.5rem;
    padding: 0;
    line-height: 0.7em;
    letter-spacing: -0.09em;
}
.glamour-catchytext{
    
}
.and-catchytext{
    margin-left: 2em;
    line-height: 0.3em;
}
.brilliance-catchytext{
    margin-left: 2.59em;
    line-height: 1em;
    letter-spacing: -0.05em;
}
/*upcoming*/
.left-mini{
    display: grid;
    grid-template-columns: 10% 90%;
    margin: 20px 40px;
}
.left-mini-mini{
    font-size: 30px;
    font-weight: 200;
    width:  60px
}
.arrowupdown{
    width: 60%
}
.mini-description-word{
    font-size: 50px;
    margin: 20px 40px;
    font-weight: 10;
}   
.upcoming-main-left-small{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5em;
    margin: 20px;
}
/*Events*/
.upcoming-main-left-side{
    background-color: #D07545;
}
.upcoming-main-right-side{
    background-color: #C0E4D6;
}
.upcoming-title{
    margin-bottom: 10px;
}
.upcoming-details{
    line-height: 1;
}
.upcoming-info{
    margin: 5px;
}
/*previous*/
.pageprevious{
    margin: auto;
}
/*profile*/
.two-column-profile-long-left{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1.5rem;
    margin: 1em;
}
.profilelongleft{
    background-color: #f5edf2;
    padding: 1rem;
}
.two-column-profile-long-right{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1.5rem;
    margin: 1em;
}
/*contact*/
.lowerhero-contact{
    padding: 20px 60px 200px 60px;
    background-color: #04132A;
    text-align: center;
    color: #FFDCF2;
}
.talkthattalk{
    font-size: 96px;
    font-weight: 600px;
}
.two-column-contact{
    margin: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5em;
}
.contact-box{
    background-color: #FFDCF2;
    padding: 0 2rem;
    color:#04132A
}