{% extends 'layout.html' %}

{% block body %}
<section class="lowerhero-contact">
<h1 class="talkthattalk">Talk that Talk</h1>
<h4>If you want to join us, support us or have general inquiries</h4>
</section>

<section class="two-column-contact">
    <div class="contact-box">
        <h1>Phone</h1>
            <h3>Elissa</h3>
            <h4>0284635746</h4>
            <h3>Se-A</h3>
            <h4>0226922092</h4>
    </div>
    <div class="contact-box">
        <h1>Email</h1>
            <h3>School inquiries</h3>
            <h4>22028@burnside.school.nz </h4>
            <h3> All other inquiries</h3>
            <h4>ilovemolang777@gmail.com</h4>
    </div>
</section>

{% endblock %}
