{% extends 'layout.html' %}

{% block body %}
<section class="lowerhero-contact">
<h1 class="talkthattalk">Talk that talk</h1>
<h5 class="descript-talkthattalk">If you want to join us, support us or have general inquiries</h5>
</section>

<section class="2-column-contact">
    <div class="contact-box">
        <h3 class="contactway">Phone</h3>
            <h5 class="firstinfo">Elissa</h5>
            <h6 class="contactinfo">0284635746</h6>
            <h5 class="secondinfo">Se-A</h5>
            <h6 class="contactinfo">0226922092</h6>
    </div>
    <div class="contact-box">
        <h3 class="contactway">Email</h3>
            <h5 class="firstinfo">School inquiries</h5>
            <h6 class="contactinfo">22028@burnside.school.nz </h6>
            <h5 class="secondinfo"> All other inquiries</h5>
            <h6 class="contactinfo">ilovemolang777@gmail.com</h6>
    </div>
</section>

{% endblock %}