{% extends 'layout.html' %}

{% block body %}
<div class="homepage1">
    <div class="catchytext">
        <h1 class="catchytext glamour-catchytext">Glamour</h1>
        <h1 class="catchytext and-catchytext">and</h1>
        <h1 class="catchytext brilliance-catchytext">brilliance</h1>
    </div>
</div>

<section class="threecolumnhome">
    <div class="threecolumn">
        <img src="/static/images/group-picture.jpg" alt="a picture of our group">
        <img src="/static/images/group-picture.jpg" alt="a picture of our group">
        <img src="/static/images/group-picture.jpg" alt="a picture of our group">
    </div>
    
</section>
<div class="homepage2">
    <img src="/static/images/clouds.jpg" alt="Clouds">
</div>
{% endblock %}