{% extends 'layout.html' %}

{% block body %}
<div class="homepage1">
<h1 class="home-catchytext"></h1>
</div>
<div class="homepage2">
    <section class="bento">
    <div class="single-box 1-longvertical">
        <img src="" alt="">
    </div>
    <h3 class="single-box 2-homepage-description">We are a kpop dance group based in chch<br> members attend burnside high schoo; <br>BLA BLA BLA</h3>
    <div class="single-box 3-midhorizontal">
        <img src="" alt="">
    </div>
    <div class="single-box 3-bigsquare">
        <img src="" alt=""> 
    </div>
    <div class="single-box 4-smallvertical">
        <img src="" alt="">
    </div>
    <div class="single-box 5-smallsquareone">
        <img src="" alt="">
    </div>
    <div class="single-box 6-smallsquaretwo">
        <img src="" alt="">
    </div>
    <div class="single-box 7-smallhorizontal">
        <img src="" alt="">
    </div>
</section>
</div>
{% endblock %}