<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="w3.css">
    <link rel="stylesheet" href="/static/w3.css">
    <link rel="stylesheet" href="/static/styles.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
    </style>
        
    <title>Dance group</title>
</head>
<div class="w3-bar">
    <a href="/" class="w3-bar-item w3-button " style="width:20%">home</a>
    <a href="upcoming" class="w3-bar-item w3-button" style="width:20%">upcoming</a>
    <a href="previous" class="w3-bar-item w3-button" style="width:20%">previous</a>
    <a href="profile" class="w3-bar-item w3-button " style="width:20%">profile</a>
    <a href="contact" class="w3-bar-item w3-button" style="width:20%">contact</a>
  </div>
<body>
    {% block body %}
    {% endblock %}
</body>
