{% extends 'layout.html' %}

{% block body %}
<div class="outfits">
    <!--- Slide 1-->
    <input type="radio" name="outfits" id="slide1" checked>
    <figure>
        <img src="" alt="">
        <label for="slide2" class="next">&#9654;</label>
    </figure>
    <!-- slide 2 -->
    <input type="radio" name="outfits" id="slide2" checked>
    <figure>
        <img src="" alt="">
        <label for="slide1" class="last">&#9664;</label>
        <label for="slide3" class="next">&#9654;</label>
    </figure>
    <!-- slide 3 -->
    <input type="radio" name="outfits" id="slide3" checked>
    <figure>
        <img src="" alt="">
        <label for="slide2" class="last">&#9664;</label>
    </figure>
</div>
{% endblock %}