{% extends 'layout.html' %}

{% block body %}
<div class="outfits">
    <!--- Slide 1-->
    <input type="radio" name="outfits" id="slide`" checked>
    <figure>
        <img src="" alt="">
        <label for="slide2" class="next">&#9654;</label>
    </figure>
    <!-- slide 2 -->
    <input type="radio" name="outfits" id="slide`" checked>
    <figure>
        <img src="" alt="">
        <label for="slide2" class="next">&#9654;</label>
    </figure>
    <!-- slide 3 -->
    <input type="radio" name="outfits" id="slide`" checked>
    <figure>
        <img src="" alt="">
        <label for="slide2" class="next">&#9654;</label>
    </figure>
</div>
{% endblock %}