{% extends 'layout.html' %}

{% block body %}

    <section class="left-mini">
    <div class="left-mini-mini">
        <p>soon</p>
        <img class="arrowupdown" src="/static/images/Updownarrow.png" alt="arrow that goes and and arrow that goes down">
        <p>further</p>
    </div>
    <div class="description">
        <h5 class="mini-description-word">Below are descriptions of events we’re performing at</h5>
    </div>
    </section>
    {% for item in title %}
    <section class="upcoming-main-left-small">
        <div class="upcoming-main-left-side">
            <img src="/static/images/{{ item[7] }}" alt="{{ item[8] }}">
        </div>
        <div class="upcoming-main-right-side">
            <h1 class="upcoming-title">{{ item[0] }}</h1>
            <h3 class="upcoming-details"><strong>Date:</strong> {{ item[2] }} {{ item[6] }}<br><strong>Address: </strong> {{ item[3] }}
                <br><strong>Song: </strong> {{ item[4] }}</h3>
            <p class="upcoming-info"><strong>Info:</strong> {{ item[5] }}</p>
        </div>
    </section>
    {% endfor %}
{% endblock %}