{% extends 'layout.html' %}

{% block body %}
<section class="left-mini">
    <div class="left-mini-mini">
        <p>Latest</p>
        <img class="arrowupdown" src="/static/images/Updownarrow.png" alt="arrow that goes and and arrow that goes down">
        <p>Oldest</p>
    </div>
    <div class="description">
        <h5 class="mini-description-word">Below are descriptions of events we performed at</h5>
    </div>
    </section>
    <!-- Section -->
    <section class="upcoming-main-left-small">
        <div class="upcoming-main-left-side">
            <p></p>
        </div>
        <div class="upcoming-main-right-side">
            <h1 class="upcoming-title">Spring Festival</h1>
            <h3 class="upcoming-details"><strong>Date:</strong> Sunday 22nd September 11:00 am - 3:30pm<br><strong>Address:</strong> Hagley Park - Multicultural Recreation and Community Centre
                <br><strong>Song:</strong> Attention by NewJeans and Lucky Girl Syndrome by ILLIT</h3>
            <p class="upcoming-info"><strong>Info:</strong> Our performance is specifically at 1 : 18pm We decided to make our songs more spring themed and light sounding. </p>
        </div>
    </section>
    <!-- Section -->
    <section class="upcoming-main-left-small">
        <div class="upcoming-main-left-side">
            <p></p>
        </div>
        <div class="upcoming-main-right-side">
            <h1 class="upcoming-title">World Scholars Cup</h1>
            <h3 class="upcoming-details"><strong>Date:</strong> .. <br><strong>Address:</strong> WSC chch round. Avonside Girls High School.
                <br><strong>Song:</strong> Magnetic, Sheesh, I Am, Deja Vu</h3>
            <p class="upcoming-info"><strong>Info:</strong> Elissa and Se-a</p>
        </div>
    </section>
    <!-- Section -->
    <section class="upcoming-main-left-small">
        <div class="upcoming-main-left-side">
            <p></p>
        </div>
        <div class="upcoming-main-right-side">
            <h1 class="upcoming-title">Culture galore</h1>
            <h3 class="upcoming-details"><strong>Date:</strong> Feb 2024<br><strong>Address:</strong> Park in Ilam
                <br><strong>Song:</strong> Kpop- mashup. Jam Republic Eve Psyche and Bluebeard's Wife, Stereotype, Goodboy Gone Bad, Wannabe, Into the New World</h3>
            <p class="upcoming-info"><strong>Info:</strong> It was a good event and we got a voucher.</p>
        </div>
    </section>
    <!-- Section -->
    <section class="upcoming-main-left-small">
        <div class="upcoming-main-left-side">
            <p></p>
        </div>
        <div class="upcoming-main-right-side">
            <h1 class="upcoming-title">Korea Day</h1>
            <h3 class="upcoming-details"><strong>Date:</strong> Nov 2023<br><strong>Address:</strong> BHS Aurora Centre
                <br><strong>Song:</strong> Break my Heart myself. Kpop- mashup. Pretty Savage Mashup, Eve Psyche and Bluebeard's wife, Baddie, So Hot, Secret Story of the Swan, Nonstop.</h3>
            <p class="upcoming-info"><strong>Info:</strong> Rachel, Se-a, Elissa</p>
        </div>
    </section>
    <!-- Section -->
        <!-- Section -->
        <section class="upcoming-main-left-small">
            <div class="upcoming-main-left-side">
                <p></p>
            </div>
            <div class="upcoming-main-right-side">
                <h1 class="upcoming-title">Talent Show</h1>
                <h3 class="upcoming-details"><strong>Date:</strong> T3 2023<br><strong>Address:</strong> BHS Aurora Centre
                    <br><strong>Song:</strong>  Break my Heart myself</h3>
                <p class="upcoming-info"><strong>Info:</strong> Se-a(Ryujin), Elissa(Yeji)</p>
            </div>
        </section>
        <!-- Section -->
{% endblock %}