{% extends 'layout.html' %}

{% block body %}
<!-- section -->
<section class="two-column-profile-long-left">
    <div class="profilelongleft">
        <h4>Hi I'm Elissa. Some of my favourite dancers are Harimu, Redy, and Bada lee. My favourite K-pop groups are IVE, Aespa, New Jeans, and stuff like that.</h4>
    </div>
    <div class="profileshortright">
        <img src="/static/images/profile- raccon-elissa.jpg" alt="racoon">
    </div>
</section>
<section class="two-column-profile-long-right">
    <div class="profileshortright">
        <img src="/static/images/pig.jpg" alt="pig">
    </div>
    <div class="profilelongleft">
        <h4>Se-a. I chose pig < -_- > </h4>
    </div>
</section>
<!-- section -->
<section class="two-column-profile-long-left">
    <div class="profilelongleft">
        <h4>Tram-I am a seagull. </h4>
    </div>
    <div class="profileshortright">
        <img src="/static/images/seagulltram.jpg" alt="seagull">
    </div>
</section>
<section class="two-column-profile-long-right">
    <div class="profileshortright">
        <img src="" alt="">
    </div>
    <div class="profilelongleft">
        <h4>Jael</h4>
    </div>
</section>
<!-- section -->
<section class="two-column-profile-long-left">
    <div class="profilelongleft">
        <h4>Anna.</h4>
    </div>
    <div class="profileshortright">
        <img src="/static/images/profile- raccon-elissa.jpg" alt="racoon">
    </div>
</section>
<section class="two-column-profile-long-right">
    <div class="profileshortright">
        <img src="" alt="">
    </div>
    <div class="profilelongleft">
        <h4>Celine</h4>
    </div>
</section>
<!-- section -->
<section class="two-column-profile-long-left">
    <div class="profilelongleft">
        <h4>Suhhyeon</h4>
    </div>
    <div class="profileshortright">
        <img src="/static/images/profile- raccon-elissa.jpg" alt="racoon">
    </div>
</section>
<section class="two-column-profile-long-right">
    <div class="profileshortright">
        <img src="/static/images/Sparrow.jpeg" alt="Isha as sparrow">
    </div>
    <div class="profilelongleft">
        <h4>Isha- Sparrow. My parents say I eat like one.</h4>
    </div>
</section>

{% endblock %}