{% extends 'layout.html' %}

{% block body %}

    <section class="left-mini">
    <div class="left-mini-mini">
        <p>soon</p>
        <img class="arrowupdown" src="/static/images/Updownarrow.png" alt="arrow that goes and and arrow that goes down">
        <p>further</p>
    </div>
    <div class="description">
        <h5 class="mini-description-word">Below are descriptions of events we’re performing at</h5>
    </div>
    </section>
    <section class="upcoming-main-left-small">
        <div class="upcoming-main-left-side">
            <p>1</p>
        </div>
        <div class="upcoming-main-right-side">
            <h1 class="upcoming-title">Spring Festival</h1>
            <h3 class="upcoming-details"><strong>Date:</strong> Sunday 22nd September 11:00 am - 3:30pm<br><strong>Address:</strong> Hagley Park - Multicultural Recreation and Community Centre
                <br><strong>Song:</strong> Attention by NewJeans and Lucky Girl Syndrome by ILLIT</h3>
            <p class="upcoming-info"><strong>Info:</strong> Our performance is specifically at ... We decided to make our songs more spring themed and light sounding. </p>
        </div>
    </section>
    <section class="upcoming-main-left-small">
        <div class="upcoming-main-left-side">
            <img src="" alt="pic">
        </div>
        <div class="upcoming-main-right-side">
            <h1 class="upcoming-title">Talent Show</h1>
            <h3 class="upcoming-details"><strong>Date:</strong> Tuesday 24th September Lunchtime<br><strong>Address:</strong> Burnside High School Aurora Centre
                <br><strong>Song:</strong> coming soon....</h3>
            <p class="upcoming-info"><strong>Info:</strong> We hope to bring a more energetic and adreneline filled performance.  </p>
        </div>
    </section>

{% endblock %}