{% extends 'layout.html' %}

{% block body %}

    <section class="left-mini">
    <div class="left-mini-mini">
        <p>soon</p>
        <img class="arrowupdown" src="/static/images/Updownarrow.png" alt="arrow that goes and and arrow that goes down">
        <p>further</p>
    </div>
    <div class="description">
        <h5 class="mini-description-word">Below are descriptions of events we’re performing at</h5>
    </div>
    </section>
    <section class="upcoming-main-left-small">
        <div class="upcoming-main-left-side">
            <p></p>
        </div>
        <div class="upcoming-main-right-side">
            <h1 class="upcoming-title">Korea Day</h1>
            <h3 class="upcoming-details"><strong>Date:</strong> 30th November <br><strong>Address:</strong> victoria square
                <br><strong>Song:</strong> 3 Solo dances and Babymonster 2ne1 mashup/</h3>
            <p class="upcoming-info"><strong>Info:</strong>Elissa, Tram, Jael, Isha, Joowon</p>
        </div>
    </section>
{% endblock %}